*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #f5f6f8;
    color: rgb(37, 19, 19);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
