
 body{
    background-color:#a26eeb
 }
 
 
 
 
 .titulo1{
   font-size: 50px;
    text-align:center;
    color: #675821;
     font-style: italic;
     font-weight: 400;
    
 
 
 .titulo2{
   font-size: 80px;
    text-align: center;
    color: #3DA75B;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #051102;
    font-style: italic;
    font-family: sans-serif;
   
 }
  
 .escola {
    margin-left: 100px;
    margin-top: 200px;
    margin-right: 1550px;;
    background-color:#0aceff;
    height: 300px;
   
 }
 .escola-imagem{
   width: 20%;
      margin-left: 900px;
      margin-right: 100px;
      margin-top: -900px;
      margin-bottom: 100px;
   
 }
 
 
 .estudante {
    padding: 24px;
 }
 
 
 .estudante-div{
    text-align: center;
    padding:26px 0;
    font-size: 40px;
 ;
 }
 
 
 .estudante-titulo{
    text-align: center;
    padding: 50px 0;
    font-size: 50px;
 /*/ background-color:#46alcf;/*/
 }
 
 
 .estudante-todos{
    display: grid;
    grid-template-columns: 20%  20% 20% 20% 20%
   
 }

   
 
 
 
 
 