header {
    
    margin: 0;
    padding: 0;
    display:block ;
    justify-content: space-around;
    padding: 24px;
    color: #ffffff;
   
 }
 body{
    background-color: #f1f1f1;
 }
 
 
 
 
 .titulo1{
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    font-style: italic;
 }
 
 
 .titulo2{
    font-size: 100px;
    text-align: center;
    color:#fffeff ;
   
 }
  
 .escola {
    margin-left: 100px;
    margin-top: 200px;
    margin-right: 1550px;;
    background-color:#ffffff;
    height: 300px;
   
 }
 .escola-imagem{
    margin-left: 450px ;
    margin-bottom: 1400px;
   
 }
 
 
 .estudante {
    padding: 24px;
 }
 
 
 .estudante-div{
    text-align: center;
    padding:26px 0;
    font-size: 40px;
 ;
 }
 
 
 .estudante-titulo{
    text-align: center;
    padding: 50px 0;
    font-size: 50px;
 /*/ background-color:#46alcf;/*/
 }
 
 
 .estudante-todos{
    display: grid;
    grid-template-columns: 20%  20% 20% 20% 20%
   
 }
 .nossa-escola{
    font-size: 50px;
    text-align:center;
    margin-left: 850px;
   
 }
 
 
 
 